.fistClass>li:hover {
    font-style: italic;
}

.secondClass>div>ul {
    display: none;
}

.secondClass>div:hover>ul {
    display: block;
    position: absolute;

}

.secondClass>div>ul>li {
    background-color: #54CBCA;
    padding: 15px;
    border: 1px solid black;
    margin-top: 3px;
    margin-left: 5px;
}

.secondClass>div>ul>li:hover {
    background-color: aquamarine;
}