.fistClass>li:hover {
    font-style: italic;
}

.secondClass>div>ul {
    display: none;
}

.secondClass>div:hover>ul {
    display: block;
    position: absolute;

}

.secondClass>div>ul>li {
    background-color: #54CBCA;
    padding: 15px;
    border: 1px solid black;
    margin-top: 3px;
    margin-left: 5px;
}

.secondClass>div>ul>li:hover {
    background-color: aquamarine;
}

.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 30px;
}

.toggleButton {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open {
    height: 40vh;
}

#open .p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#open a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }

    #close a {
        display: none;
    }

    .secondClass>div>ul {
        margin-top: 180px;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }


}